VITE_APP_NAME="Juster"
VITE_APP_BASE_URL="https://app.juster.io"
VITE_DEMO_MODE_BACKEND_BASE_URL="http://localhost:5502"
VITE_DIPDUP_GRAPHQ_MAINNET="http://localhost:5501/v1/graphql"
VITE_DIPDUP_WS_MAINNET="ws://localhost:5501/v1/graphql"
VITE_DIPDUP_GRAPHQ_TESTNET="http://localhost:5501/v1/graphql"
VITE_DIPDUP_WS_TESTNET="ws://localhost:5501/v1/graphql"
