.flex {
	display: flex;
}

.f--inline {
	display: inline-flex;
}

.f--wide {
	width: 100%;
}

.f-ai--start {
	align-items: flex-start;
}

.f-ai--end {
	align-items: flex-end;
}

.f-ai--center {
	align-items: center;
}

.f-d--row {
	flex-direction: row;
}

.f-d--rowReversed {
	flex-direction: row-reverse;
}

.f-d--column {
	flex-direction: column;
}

.f-d--columnReverse {
	flex-direction: column-reverse;
}

.f-jc--start {
	justify-content: flex-start;
}

.f-jc--end {
	justify-content: flex-end;
}

.f-jc--center {
	justify-content: center;
}

.f-jc--between {
	justify-content: space-between;
}

.f-jc--around {
	justify-content: space-around;
}

.f-w--nowrap {
	flex-wrap: nowrap;
}

.f-w--wrap {
	flex-wrap: wrap;
}

.f-w--wrapReverse {
	flex-wrap: wrap-reverse;
}

.gap--2 {
	gap: var(--spacing-2);
}

.gap--4 {
	gap: var(--spacing-4);
}

.gap--6 {
	gap: var(--spacing-6);
}

.gap--8 {
	gap: var(--spacing-8);
}

.gap--10 {
	gap: var(--spacing-10);
}

.gap--12 {
	gap: var(--spacing-12);
}

.gap--14 {
	gap: var(--spacing-14);
}

.gap--16 {
	gap: var(--spacing-16);
}

.gap--20 {
	gap: var(--spacing-20);
}

.gap--24 {
	gap: var(--spacing-24);
}

.gap--32 {
	gap: var(--spacing-32);
}

.gap--40 {
	gap: var(--spacing-40);
}

.gap--48 {
	gap: var(--spacing-48);
}

.gap--60 {
	gap: var(--spacing-60);
}
