/* Font Size */
.fz--8 {
	font-size: 8px;
}

.fz--10 {
	font-size: 10px;
}

.fz--11 {
	font-size: 11px;
}

.fz--12 {
	font-size: 12px;
}

.fz--13 {
	font-size: 13px;
}

.fz--14 {
	font-size: 14px;
}

.fz--15 {
	font-size: 15px;
}

.fz--24 {
	font-size: 24px;
}

.fz--26 {
	font-size: 26px;
}

.fz--32 {
	font-size: 32px;
}

/* Font Weight */
.fw--400 {
	font-weight: 400;
}

.fw--500 {
	font-weight: 500;
}

.fw--600 {
	font-weight: 600;
}

.fw--700 {
	font-weight: 700;
}

/* Line Height */
.lh--10 {
	line-height: 1;
}

.lh--11 {
	line-height: 1.1;
}

.lh--12 {
	line-height: 1.2;
}

.lh--13 {
	line-height: 1.3;
}

.lh--14 {
	line-height: 1.4;
}

.lh--15 {
	line-height: 1.5;
}

.lh--16 {
	line-height: 1.6;
}

.lh--18 {
	line-height: 1.8;
}

/* Text Align */
.ta--left {
	text-align: left;
}

.ta--right {
	text-align: right;
}

.ta--center {
	text-align: center;
}

/* Text Color (From Main Design System) */
.color--primary {
	color: var(--text-primary);
}

.color--secondary {
	color: var(--text-secondary);
}

.color--tertiary {
	color: var(--text-tertiary);
}

.color--support {
	color: var(--text-support);
}

.color--blue {
	color: var(--text-blue);
}

.color--orange {
	color: var(--orange);
}

.color--green {
	color: var(--green);
}

.color--red {
	color: var(--red);
}

.color--brand {
	color: var(--brand);
}

.color--yellow {
	color: var(--yellow);
}

/* Icon Color (From Main Design System) */
.fill--primary {
	fill: var(--text-primary);
}

.fill--secondary {
	fill: var(--text-secondary);
}

.fill--tertiary {
	fill: var(--text-tertiary);
}

.fill--support {
	fill: var(--text-support);
}

.fill--textblue {
	fill: var(--text-blue);
}

.fill--blue {
	fill: var(--blue);
}

.fill--orange {
	fill: var(--orange);
}

.fill--red {
	fill: var(--red);
}

.fill--green {
	fill: var(--green);
}

.fill--brand {
	fill: var(--brand);
}

.fill--yellow {
	fill: var(--yellow);
}

.fill--purple {
	fill: var(--purple);
}

/* Other */
.no-wrap {
	white-space: nowrap;
}
